<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/pos_zeusled_db</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.show_sql">true</property>

        <mapping class="org.POS.backend.user.User"/>
        <mapping class="org.POS.backend.brand.Brand"/>
        <mapping class="org.POS.backend.product_category.ProductCategory"/>
        <mapping class="org.POS.backend.person.Person"/>
        <mapping class="org.POS.backend.product.Product"/>
        <mapping class="org.POS.backend.product_subcategory.ProductSubcategory"/>
        <mapping class="org.POS.backend.expense.Expense"/>
        <mapping class="org.POS.backend.code_generator.CodeGenerator"/>
        <mapping class="org.POS.backend.expense_category.ExpenseCategory"/>
        <mapping class="org.POS.backend.expense_subcategory.ExpenseSubcategory"/>
        <mapping class="org.POS.backend.purchase.Purchase"/>
        <mapping class="org.POS.backend.purchased_item.PurchaseItem"/>
        <mapping class="org.POS.backend.return_product.ReturnProduct"/>
        <mapping class="org.POS.backend.stock.Stock"/>
        <mapping class="org.POS.backend.sale.Sale"/>
        <mapping class="org.POS.backend.sale_item.SaleItem"/>
        <mapping class="org.POS.backend.cash_transaction.CashTransaction"/>
        <mapping class="org.POS.backend.open_cash.OpenCash"/>
        <mapping class="org.POS.backend.inventory_adjustment.InventoryAdjustment"/>
        <mapping class="org.POS.backend.order.Order"/>
        <mapping class="org.POS.backend.invoice.Invoice"/>
        <mapping class="org.POS.backend.quotation.Quotation"/>
        <mapping class="org.POS.backend.quoted_item.QuotedItem"/>
        <mapping class="org.POS.backend.return_purchase.ReturnPurchase"/>
    </session-factory>
</hibernate-configuration>
